16.171.14.61.nip.io { 
    # Reverse proxy for API service
    reverse_proxy api:4001
}


16.171.14.61:80 {
    # redirect to https
    redir https://ec2-16-171-14-61.eu-north-1.compute.amazonaws.com{uri}
}