export GITLAB_APP_ID=8cd7b35706294f69288841b293062c9100f626428809ea5c0146d4aeb831e0ac
export GITLAB_APP_SECRET=gloas-213e6c5d8ce4dc1494488b2a723ec0bd9b770d8207ea034a28609976fdedba2c
export GITLAB_REDIRECT_URI=http://localhost:4001/auth/gitlab/callback
export GITHUB_CLIENT_ID="iuhfi4gf3yfegefwefiywefwegifwefgwe"
export GITHUB_CLIENT_SECRET="fiewufhewuifewgfweoifgweofwehfogewgf"
export GITLAB_REDIRECT_URI=http://localhost:4001/auth/github/callback
